<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KSD's Health Club</title>
    <style>
        td {
            border: 1px solid black;
        }

        .seq {
            width: 5%;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
        }

        .seq-title {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }

        .h-video {
            width: 100%;
        }
    </style>
</head>
<body>
<a href="/">메인으로 돌아가기</a>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>영상</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="seq" rowspan="2">1회차</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <p class="seq-title">4.엎드려뻗쳐</p>
                <video class="h-video" src="../../static/video/pt1/4.엎드려뻗쳐_20240408_131451942.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.덤벨 프레스</p>
                <video class="h-video" src="../../static/video/pt1/5.덤벨프레스_20240408_131453026.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq">2회차</td>
            <td></td>
            <td>
                <p class="seq-title">2.힙힌지 운동</p>
                <video class="h-video" src="../../static/video/pt2/2.힙힌지운동_20240408_131933675.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.폼롤러 힙힌지 운동</p>
                <video class="h-video" src="../../static/video/pt2/3.폼롤러%20힙힌지%20운동_20240408_131944387.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.케틀벨 데드리프트</p>
                <video class="h-video" src="../../static/video/pt2/4.케틀벨%20데드리프트_20240408_131948930.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">3회차</td>
            <td>
                <p class="seq-title">1.어깨 스트레칭</p>
                <video class="h-video" src="../../static/video/pt3/1.어깨%20스트레칭_20240408_132541518.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.슈퍼맨</p>
                <video class="h-video" src="../../static/video/pt3/2.슈퍼맨(전신운동)_20240408_132542470.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.슈퍼맨 로우</p>
                <video class="h-video" src="../../static/video/pt3/3.슈퍼맨%20로우(등%20전체%20운동)_20240408_132547604.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.파나타 랫풀다운</p>
                <video class="h-video" src="../../static/video/pt3/4.파나타%20랫풀다운_20240408_132552486.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.풀업 어시스트</p>
                <video class="h-video" src="../../static/video/pt3/5.풀업%20어시스트_20240408_132559724.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">6.하이로우</p>
                <video class="h-video" src="../../static/video/pt3/6.하이로우_20240408_132603449.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">4회차</td>
            <td>
                <p class="seq-title">1.어깨 회전 가동성 운동</p>
                <video class="h-video" src="../../static/video/pt4/1.어깨%20회전%20가동성_20240408_133603243.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.흉추 회전 가동성 운동</p>
                <video class="h-video" src="../../static/video/pt4/2.흉추%20회전%20가동성_20240408_133604896.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.케틀벨 헤일로</p>
                <video class="h-video" src="../../static/video/pt4/3.케틀벨%20헤일로_20240408_133618790.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.버드독(힙킥)</p>
                <video class="h-video" src="../../static/video/pt4/4.버드독(힙킥)_20240408_133612918.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.폼롤러 스쿼트</p>
                <video class="h-video" src="../../static/video/pt4/5.폼롤러%20스쿼트_20240408_133629076.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">5회차</td>
            <td>
                <p class="seq-title">1.밴드운동(Y,W 레이즈)</p>
                <video class="h-video" src="../../static/video/pt5/1.밴드운동(Y,W%20레이즈)_20240408_142446644.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.밴드 운동</p>
                <video class="h-video" src="../../static/video/pt5/2.밴드운동_20240408_142428739.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.폼롤러 밸런스(이름 모름)</p>
                <video class="h-video" src="../../static/video/pt5/3.폼롤러%20밸런스(이름%20모름)_20240408_142422394.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.밸런스 보드 풀 플랭크</p>
                <video class="h-video" src="../../static/video/pt5/4.밸런스%20보드%20풀플랭크_20240408_142423347.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.데드리프트</p>
                <video class="h-video" src="../../static/video/pt5/5.데드리프트_20240408_142444423.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">6.데드리프트</p>
                <video class="h-video" src="../../static/video/pt5/6.데드리프트_20240408_142437315.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">6회차</td>
            <td>
                <p class="seq-title">1.원레그런지</p>
                <video class="h-video" src="../../static/video/pt6/1.원레그런지_20240421_173609352.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.폼롤러 스쿼트</p>
                <video class="h-video" src="../../static/video/pt6/2.폼롤러%20스쿼트_20240421_173614483.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.맨몸 스쿼트</p>
                <video class="h-video" src="../../static/video/pt6/3.맨몸스쿼트_20240421_173619613.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.레그 익스텐션</p>
                <video class="h-video" src="../../static/video/pt6/4.레그익스텐션_20240421_173622653.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">시티 드레그컬</p>
                <video class="h-video" src="../../static/video/pt6/5.시티드레그컬_20240421_173633363.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq">7회차</td>
            <td>
                <p class="seq-title">1.덤벨 풀오버</p>
                <video class="h-video" src="../../static/video/pt7/1.덤벨%20풀오버_20240421_174246107.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.벤치 프레스</p>
                <video class="h-video" src="../../static/video/pt7/2.벤치프레스_20240421_174251252.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.체스트 프레스</p>
                <video class="h-video" src="../../static/video/pt7/3.체스트프레스_20240421_174255923.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.펙덱 플라이</p>
                <video class="h-video" src="../../static/video/pt7/4.펙덱플라이_20240421_174300265.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">8회차</td>
            <td>
                <p class="seq-title">1.밴드 운동</p>
                <video class="h-video" src="../../static/video/pt8/1.밴드운동_20240421_174620642.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.밴드운동(균형포함)</p>
                <video class="h-video" src="../../static/video/pt8/2.밴드운동(균형포함)_20240421_174634118.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.밴트오버 레터널 레이즈(언더그립)</p>
                <video class="h-video" src="../../static/video/pt8/3.밴트오버%20레터널%20레이즈(언더그립)_20240421_174624110.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.숄더 프레스</p>
                <video class="h-video" src="../../static/video/pt8/4.숄더프레스_20240421_174627303.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.덤벨 숄더 프레스</p>
                <video class="h-video" src="../../static/video/pt8/5.덤벨%20숄더프레스_20240421_174633423.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="seq">9회차</td>
            <td>
                <p class="seq-title">1.프론트 렛풀다운</p>
                <video class="h-video" src="../../static/video/pt9/1.프론트%20렛풀다운(전면,%20하부%20광배운동)_20240421_175117967.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.흉추가동성 스트레칭</p>
                <video class="h-video" src="../../static/video/pt9/2.흉추가동성%20스트레칭_20240421_175114271.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.롱 풀로우</p>
                <video class="h-video" src="../../static/video/pt9/3.롱풀로우(등중앙운동)_20240421_175103177.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.파나타 슈퍼로잉</p>
                <video class="h-video" src="../../static/video/pt9/4.파나타%20슈퍼로잉(광배%20바깥쪽,%20등중앙)_20240421_175058219.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">10회차</td>
            <td>
                <p class="seq-title">1.운동전 목의 움직임</p>
                <video class="h-video" src="../../static/video/pt10/1.운동전%20목의%20움직임_20240426_160334107.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.운동후 목의 움직임</p>
                <video class="h-video" src="../../static/video/pt10/2.운동후%20목의%20움직임_20240426_160317319.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.캣 카우</p>
                <video class="h-video" src="../../static/video/pt10/3.캣카우_20240426_160349096.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.사이드 플랭크</p>
                <video class="h-video" src="../../static/video/pt10/4.사이드%20플랭크_20240426_160344165.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.버드독</p>
                <video class="h-video" src="../../static/video/pt10/5.버드독_20240426_160307906.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">6.오버헤드 프레스</p>
                <video class="h-video" src="../../static/video/pt10/6.오버헤드%20프레스_20240426_160325323.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">7.닉 터치</p>
                <video class="h-video" src="../../static/video/pt10/7.닉터치_20240426_160408494.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">8.덤벨 사레레</p>
                <video class="h-video" src="../../static/video/pt10/8.덤벨%20사레레_20240426_160352269.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td class="seq" rowspan="2">11회차</td>
            <td>
                <p class="seq-title">1.케틀벨 헤일로</p>
                <video class="h-video" src="../../static/video/pt11/1.케틀벨%20헤일로_20240426_162641439.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">2.케틀벨 스윙</p>
                <video class="h-video" src="../../static/video/pt11/2.케틀벨%20스윙_20240426_162705490.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">3.케틀벨 스윙</p>
                <video class="h-video" src="../../static/video/pt11/3.케틀벨%20스윙_20240426_162701958.mp4" controls></video>
            </td>
            <td>
                <p class="seq-title">4.데드리프트</p>
                <video class="h-video" src="../../static/video/pt11/4.데드리프트_20240426_162658082.mp4" controls></video>
            </td>
        </tr>
        <tr>
            <td>
                <p class="seq-title">5.데드리프트</p>
                <video class="h-video" src="../../static/video/pt11/5.데드리프트_20240426_162653989.mp4" controls></video>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
</body>
</html>