* {
    border: none;
    font-size: 18px;
}

body {
    font-size: 14px;
    font-family: 'robot', sans-serif;
    background-image: url("/imgs/health/women_health.jpeg");
    background-repeat: repeat;
    background-size: cover;
    background-position: 20% 20%;
}

p {
    color: #D2D2D2;
}

header #menu {
    height: 50px;
    background-color: lightblue;
}

header #info {
    height: 50px;
    background-color: lightcoral;
}