<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-In</title>
    <link rel="stylesheet" href="/css/sign/sign-in.css">
</head>
<body>
<div id="container">
    <h2>로그인</h2>
    <form action="/sign/sign-in" method="post" id="sign-in-form">
        <input type="text" name="account" id="account" placeholder="아이디">
        <input type="password" name="password" id="password" placeholder="비밀번호">
        <input type="checkbox" id="remember-check">
        <label for="remember-check">아이디 저장하기</label>
        <input type="submit" value="로그인">
    </form>
</div>
</body>
</html>