* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-size: 14px;
    font-family: 'robot', sans-serif;
    background-image: url("/static/imgs/health/health_room.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
}

#container {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 10px 10px;
    backdrop-filter: blur(10px);
}

#container > h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #6A24FE;
    margin-bottom: 20px;
    text-align: center;
}

#sign-in-form > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-size: 1.3em;
}

#sign-in-form > input::placeholder {
    color: #D2D2D2;
}

#sign-in-form > input[type="submit"] {
    color: #fff;
    font-size: 1.3em;
    background-color: #6A24FE;
    margin-top: 20px;
    cursor: pointer;
}

/* 기존 체크박스 없애고 label을 이용하여 디자인 변경 */
#sign-in-form > label {
    color: #999999;
}

#sign-in-form input[type="checkbox"] {
    display: none;
}

#sign-in-form input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 26px;
    background-image: url("/static/imgs/checkbox/checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#sign-in-form input[type="checkbox"]:checked + label {
    background-image: url("/static/imgs/checkbox/checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}